
@media (max-width: 62.5rem) {
    .header-center {
        flex-direction: column;
    }

    .header-center figure {
        width: 100%;
        text-align: center;
        margin-top: 0.75rem;
    }

    .header-center nav {
        margin: 0.625rem 0;
    }

    .header-center nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.25rem;
        align-items: center;
        justify-items: center;
        padding: 0.625rem;
    }

    .main-center .section-one {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .content-infos h1 img {
        position: relative;
        top: -110px;
        right: -250px;
        width: 30px;
    }

    .section-one img {
        width: 100%;
    }

    .section-one .content-infos {
        width: 100%;
    }

    .content-infos .img-arrow {
        position: relative;
        top: 30.72px;
        left: 5.625rem;
        width: 9.375rem;
    }

    .button-section-one {
        position: relative;
        left: 0.3125rem;
    }

    .section-two .cards {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }

    .cards .card-model:nth-child(2) {
        margin-bottom: 1.875rem;
    }

    .footer-center .infos {
        flex-direction: column;
    }

    .infos .info-img-text {
        width: 100%;
    }

    .footer-center .infos nav {
        margin-bottom: 0.9375rem;
    }

    .infos .data-entry {
        width: 98%;
    }

    .infos .data-entry input {
        width: 100%;
    }
}

@media (max-width: 71.875rem) {
    .section-one .music {
        width: 70%;
    }
}
