:root {
    --primaryOrange: #ED4D1B;
    --secundaryOrange: #FF9A3C;
    --primaryBlack: #000000;
    --primaryPink: #FFE7D1;
    --secundaryPink: #FFF2E6;
}

body {
    max-width: 90rem;
    width: 100%;
    background: linear-gradient(90deg, var(--primaryPink) 0%, var(--secundaryPink) 100%);

}

.header-center {
    width: 98%;
    border-left: 0.0625rem solid var(--primaryBlack);
    border-right: 0.0625rem solid var(--primaryBlack);
    margin: 0 auto;
    padding: 0.9375rem;

    display: flex;
    justify-content: space-around;
}


.header-center nav ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 2.1875rem;
}

.header-center ul a{
    color: var(--primaryBlack);
    font-size: 1.25rem;
    font-weight: 800;
    transition: all 0.3s ease-in-out;
}

.header-center ul a:hover {
    text-decoration: underline;
    text-underline-offset: 0.4375rem;
}

/* all buttons */
button {
    height: 2.5rem;
    background-color: var(--primaryOrange);
    padding: 0.75rem;
    font-weight: bold;
    box-shadow: 0.3125rem 0.3125rem 0.3125rem var(--primaryBlack);
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: var(--secundaryOrange);
}

.main-center {
    width: 98%;
    border-left: 0.0625rem solid var(--primaryBlack);
    border-right: 0.0625rem solid var(--primaryBlack);
    margin: 0 auto;
}

.main-center .section-one {
    display: flex;
}

.section-one .content-infos {
    width: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-infos p {
    max-width: 17.125rem;
    margin-top: 1.25rem;
    font-weight: 500;
    color: var(--primaryBlack);
}

.content-infos h1 {
    font-size: 2.8125rem;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    /* position: relative; */
}

.content-infos span img {
    position: absolute;
    top: -0.625rem;
}

.content-infos .button-section-one {
    position: relative;
    right: 4.3125rem;
    margin-top: 1.875rem;
}

.content-infos span {
    color: var(--primaryOrange);
    position: relative;

}

.content-infos .img-arrow {
    position: relative;
    top: 1.875rem;
}

.section-two {
    width: 98%;
    margin: 0 auto;
}

.cards {
    margin-top: 6.25rem;
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 1%;
}

.cards .card-model {
    width: 15.625rem;
    height: 18.75rem;
    position: relative;
    border: 0.0625rem solid var(--primaryBlack);
    box-shadow: 0.1875rem 0.1875rem 0.1875rem var(--primaryBlack);
    padding: 1.1875rem;
}

.card-model:nth-child(odd) {
    background-color: var(--primaryOrange);
    position: relative;
    top: -1.125rem;
}

.card-model:nth-child(even) {
    background-color: var(--secundaryOrange);
}

.card-model .arrow-right {
    position: absolute;
    bottom: 0;
    right: 0;
}


.section-two h2 span {
    color: var(--primaryOrange);
}


.end-section-two {
    width: 100%;
    margin-top: 6.25rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-two .end-section-two h2 {
    font-weight: 800;
    font-size: 2rem;
}

.end-section-two button {
    margin-top: 3.125rem;
    margin-bottom: 5.625rem;
}

.footer-center {
    position: static;
    width: 98%;
    /* height: 18.75rem; */
    border: 0.0625rem solid var(--primaryBlack);
    margin: 0 auto;
    padding: 1.5625rem;
    padding-bottom: 6.875rem;
}

.footer-center .infos {
    margin-top: 3.125rem;
    display: flex;
    justify-content: space-around;
}

.infos .data-entry {
    display: flex;
    flex-direction: column;
}

.infos .data-entry p {
    color: var(--primaryBlack);
    font-weight: 800;
}

.infos .data-entry input {
    width: 25rem;
    height: 2.5rem;
    outline: none;
    font-size: 1.1875rem;
    padding: 0 0.5rem;
    margin-top: 0.9375rem;
    box-shadow: 0.1875rem 0.1875rem 0.1875rem var(--primaryBlack);
}

.infos .data-entry .button-footer-email {
    margin-top: 1.25rem;
    max-width: 9.375rem;
}

.footer-center nav ul a {
    color: var(--primaryBlack);
    font-size: 1.25rem;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.footer-center ul a:hover {
    text-decoration: underline;
    text-underline-offset: 0.4375rem;
}

.footer-center nav ul li {
    margin-top: 1.25rem;
}

.footer-center .info-img-text {
    width: 20%;
    padding: 0.5rem;
}

.info-img-text p {
    margin-top: 1.25rem;
    font-weight: 800;
}

hr {
    width: 98%;
    height: 0.125rem;
    border: 0.0625rem solid var(--primaryBlack);
    margin: 0 auto;
    opacity: 0.4;
}

.main-center .division {
    width: 100%;
    position: relative;
    top: 9.375rem;
}